

body {
    font-family: Lato;
    background-color: white;
    padding: 30px
    margin: 20px;
}

h1 {
    font-family: "Arvo";
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.yeartext {
    text-anchor: middle;
    font-size: 24px;
    fill: black;
    stroke-width: 0.1px;
}

.Axis{
    stroke: #eee;
    stroke-width: 4;
}

.center {
  margin-left: 350px;
}
.donutcenter {
  margin-left: 600px;
}


.fullView {
    display: inline-block;
    width: 100%;
}

.fullView {
    display: inline-block;
    width: 100%;
}

.hidden {
    display: inline-block;
    width: 100%;
    opacity: 0.2;
}

.fullViewWithBorder{
    display: inline-block;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: black;
    color: white;
    border-width: 10px;
    border-color: black;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.circleVal:hover {
  stroke: red;
  stroke-width:2px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.year-chart{
    display: inline-block;
    width: 100%;
    background-color: white;
}

.twoThirdView{
    display: inline-block;
    width: 50%;
    float:left;
    padding-bottom: 700px;
}

.twoThirdViewCenter{
    display: inline-block;
    width: 70%;
      float: left;
      position: relative;
      margin-left: 350px;
      margin-top: 35px;
}

.yearChart{
    stroke: #FFF;
}
.dashed{
   stroke-dasharray: 3,2;
   stroke: black;
}

.lineChart{
    stroke:#000;
    stroke-dasharray: 4;
}

.highlighted{
    stroke: #404040;;
    stroke-width:4;
}

.selected{
    stroke: #404040;;
    stroke-width:4;
    r:10px;
}

.yearCircles {
  fill: red
}

.dropbtn {
    background-color: #5ebbf8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
    opacity: 0.8;
}

.dropbtn:hover, .dropbtn:focus {
  opacity: 1;
}

.dropbtn2 {
    background-color: #cc0000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
    opacity: 0.8;

}

.dropbtn2:hover, .dropbtn2:focus {
  opacity: 1;
}

.sideBar {
    display: inline-block;
    width: 35%;
    float:right;
    margin-right: 100px;
    height: 800px;
}

.sideBarChart {
    display: inline-block;
    width: 35%;
    float:right;
    margin-right: 100px;
    height: 800px;
    overflow-y : scroll;
    overflow-x : hidden;
}

.sideBarVul {
    display: inline-block;
    width: 35%;
    float:right;
    margin-right: 100px;
    overflow-y : scroll;
    overflow-x : hidden;
}

.sideBarLeft {
    display: inline-block;
    width: 100%;
    float:left;
}

h2{
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 2;
    color: rgba(0, 0, 0, 0.8);
    /* content: "\25BC"; */
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    /* content: "\25BC"; */
    margin: -4px 0 0 0;
    top: 100%;
    left: 0;
    /* text-align: center; */
}

/* Eastward tooltips */
.d3-tip.e:after {
    /* content: "\26A0"; */
    margin: -4px 0 0 0;
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    /* content: "\25B2"; */
    margin: 4px 0 1px 0;
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    /* content: "\25B6"; */
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

h3{
    text-anchor:middle;
    font-size: 32px;
}

.axis {
    font: 14px sans-serif;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 35%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.simpleMap{
            fill: none;
            stroke-width: 1px;
            stroke: #222;
}

.half-donut .label {
      font-size: 1.5rem;
      font-family: "Arial Black";
}

path.spiral {
        fill: none;
        stroke: #ee8d18;
        stroke-width: 3px;
      }


.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 10;
    display: block;
    opacity: 0;
}
